[safe]
	directory = /data/data/com.termux/files/home/storage/shared/Documents/Obsidian_Nvim/
[core]
	quotepath = false
	autocrlf = input
	filemode = false
[user]
	email = wogkr3654@naver.com
	name = Jaehaks(termux)
[init]
	defaultBranch = main
