[submodule "zsh/arch/plugins/zsh-autopair"]
	path = zsh/arch/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair.git
[submodule "zsh/arch/plugins/zsh-syntax-highlighting"]
	path = zsh/arch/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/arch/plugins/zsh-autosuggestions"]
	path = zsh/arch/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/arch/plugins/fzf-tab"]
	path = zsh/arch/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh/arch/plugins/gitstatus"]
	path = zsh/arch/plugins/gitstatus
	url = https://github.com/romkatv/gitstatus.git
[submodule "zsh/arch/plugins/tmux-jump"]
	path = zsh/arch/plugins/tmux-jump
	url = https://github.com/schasse/tmux-jump
