# CAUTION: don't let comment right after setting chunk. it doesn't work
# -- page color ---------------------------------------------------------------------------------------------
# (r g b, 0~1) background color for light mode
background_color 0 0 0
# 0~1 more white character in darkmode
dark_mode_contrast 1


# -- page ---------------------------------------------------------------------------------------------
# separation line between pages
page_separator_width 5
page_separator_color 0.9 0.9 0.9





# -- mouse -------------------------------------------------------------------------------------------------
# highlight color using mouse
text_highlight_color 0.1 0.3 0.7

# if 0, zoom only center using mouse
wheel_zoom_on_cursor 0

# dragging mouse will visualize entire word than characters
single_click_selects_words 1

# mouse click command with modifier keys
shift_click_command overview_under_cursor
control_click_command overview_under_cursor
alt_click_command overview_under_cursor

# highlights the selected text
highlight_middle_click 1

# if mouse middle click, the sentence or title enclosed by "" will be searched in web
search_url_s			https://scholar.google.com/scholar?q=
search_url_l			http://gen.lib.rus.ec/scimag/?q=
search_url_g			https://www.google.com/search?q=
middle_click_search_engine			s
shift_middle_click_search_engine	g



# -- visual mark -----------------------------------------------------------------------------------------------
# highlight color using visual mark with transparency
visual_mark_color 0.0 0.0 0.0 0.2
# show only focused line when visual mark
ruler_mode 1




# -- search ----------------------------------------------------------------------------------------------------
search_highlight_color  1.0 0.0 1.0
link_highlight_color    0.0 0.0 1.0
synctex_highlight_color 1.0 0.0 1.0

# increase search speed with indexing and additional memory
super_fast_search 1
# show closest bookmark in statusbar
show_closest_bookmark_in_statusbar 1

# it has some issue about flickering when user go to other page fast.
# While in present mode, prerender the next page to avoid flickering due to prerender_next_page_presentation
# but it doesn't seems to be solved yet.
prerender_page_count 10

# case-insensitive search
case_sensitive_search 0





# -- bookmark ----------------------------------------------------------------------------------------------------
# bookmarks are sorted by location not creation time




# -- misc ----------------------------------------------------------------------------------------------------
# don't show tutorial page when no file
should_warn_about_user_key_override 0
# show checkerboard pattern for unrendered pages (reload pages)
should_draw_unrendered_pages 0
# ui_font (not works?)
ui_font FiraCode Nerd Font Mono
font_size 16
# commands when startup
startup_commands fit_to_page_width
# predefined command (BUG: execute_command cannot open ui for nvim/cmd/nvim-qt)
# execute_command_c nvim %HOME%\scoop\apps\sioyek\current\keys_user.config
# execute_command_d nvim %HOME%\scoop\apps\sioyek\current\prefs_user.config
# show long menu item in multiple lines
multiline_menus 0


# -- latex
# %1 expands to the name of the file and %2 expans to the line number.
#inverse_search_command 		"C:\path\to\vscode\Code.exe" -r -g %1:%2
