# .inputc = Readline init file in path %CLINK_INPUTRC%
# it can set "Readline configuration variables" and "Bindasble Commands"
# (!warning) if "clinks_settings" is set in this file, clink does not work properly

$if clink

set blink-matching-paren      on
set colored-completion-prefix on
set colored-stats             on

# set editing-mode              vi
# set keymap                    vi
set show-mode-in-prompt       on
set visible-stats             on

######################################
## special shortcut
######################################
# TIP : run "clink echo", and press any keys to check which keycode is pressed
# TIP : <A-h> : show active all keymap list
# TIP :

# <C-A-c> : copy command line to clip board ('y' yank is applyed in terminal only)
# <C-A-e> : expand environment variable under cursor
# <C-A-u> / <S-up> : up directory
# <C-u> : add ..\ in command line
# <C-A-h> : backward-kill-word

####### it works only "set keymap emacs"
# accept inline autosuggestion
"\e[Z": clink-insert-suggested-line
# mapped for down (history / suggestionlist)
"\C-j": "\e[A"
# mapped for up (history / suggestionlist)
"\C-k": "\e[B"

######################################
## clink-fzf shortcut
######################################
# <C-t> : [insert] all files/directories recursively under cwd
# <C-r> : [insert] all command histories
# <A-c> : [move] all directories under cwd
# <A-b> : [show only] all key bindings
# <Tab> : [insert] with '**', the completion will be shown
# <C-Space> : [insert] all completion candidates list starting with prefix
# Let's think about it a bit more about fzf-rg / fzf-git

$endif
