# dir /? doesn't work. only --help works

magick 	--help	gnu
7z		--help 	gnu
clink	--help	gnu
awk		--help	gnu
cp		--help 	gnu
curl 	--help	gnu
dir 	--help	gnu
eza		--help 	gnu
ffmpeg	--help 	gnu
fzf		--help 	gnu
nvim	--help	gnu
nvim-qt	--help 	gnu
irfanview	--help 	gnu
rg		--help 	gnu
sd		--help 	gnu
sed		--help 	gnu
tar		--help 	gnu
uname	--help 	gnu
wget	--help 	gnu
yazi	--help 	gnu
zoxide	--help 	gnu



