# -- page movement
move_down k
move_up j
move_right h
move_left l

# pages
screen_down <C-d>      # move half page down
screen_up <C-u>        # move half page up
next_page <pagedown>   # move one page down
previous_page <pageup> # move half page down
prev_state H           # prev in scroll history
next_state L           # next in scroll history
# <num>G 			   # go to number page

# chapter
next_chapter gc
prev_chapter gC

# list
goto_toc to 		   # show table of contents
goto_window tw 		   # show opened window list and go

# window
new_window <C-j>	   # duplicate current window

# -- zoom
zoom_in +
zoom_out -
fit_to_page_width =
fit_to_page_width_smart 0
fit_to_page_height |
toggle_fullscreen tf

# -- execute command
# put index char(like 'x') after 'r' to execute command predefined in prefs.config
execute_predefined_command r
	# -- these command use qutebrowser to search visual selected word
	# ra : open selected url
	# rd : naver dictionary
	# rg : google search
	# rs : scholar google search
	# ry : youtube search
external_search s # open default browser to search visual blocked word


# -- rotate
rotate_clockwise <C-r>
rotate_counterclockwise <C-S-r>

# -- mark
set_mark m
goto_mark '
# bookmark
add_bookmark b     # bookmark with name in current file
delete_bookmark db # delete bookmark from current location
goto_bookmark gb   # show bookmarks format : name [page]
goto_bookmark_g gB # show bookmarks for all files which is registered
# highlight
add_highlight e # add background color with 'a-z'
delete_highlight dh
goto_highlight gh
goto_highlight_g gH
toggle_highlight th # Toggles whether we highlight pdf links or not

# -- file
open_document_embedded_from_current_path o # open file using embedded file browser
open_prev_doc O                            # show list of opened documents
toggle_dark_mode td
toggle_presentation_mode tp
close_window q
quit <C-S-w>

# -- editing

# visual select some word/sentence, and copy them
copy y

# visual select some word only using keyboard shortcut
# '/' after visual select, the word is filled first
keyboard_select v

# smart_jump/overview is operation to detect proper reference
# smart_jump = go to the page location which is referenced / if there are not, search in web
# overview = show part of the page location which is referenced using partial window (ESC to exit) / if there are not, do nothing
# if Fig. 8 / Table 16 format / equation (2.1) : it must have hyper link. not work on plain text
# [8] : paper reference, it works on plain text
# Figure 2.1 : figure reference, it works on plain text
smart_jump_under_cursor f
keyboard_smart_jump F
overview_under_cursor w
keyboard_overview W
previous_preview <C-p> # show previous overview
next_preview <C-n> # show next overview

enter_visual_mark_mode V
move_visual_mark_up j
move_visual_mark_down k


# -- command
# :keys_user - open keymapping config file
# :prefs_user - open preference config file
