# CAUTION: don't let comment beside of setting chunk

############ page movement #############
move_down k
move_up j
move_right h
move_left l

# -- pages
# move half page down
screen_down <C-d>
# move half page up
screen_up <C-u>
# move one page down
next_page <pagedown>
# move half page down
previous_page <pageup>
# prev in scroll history
prev_state H
# next in scroll history
next_state L
# <num>G 			   # go to number page

# -- chapter
next_chapter gc
prev_chapter gC

# -- list
# show table of contents
goto_toc to
# show opened window list and go
goto_window tw

# -- window
# duplicate current window
new_window <C-t>

############ zoom #############
zoom_in +
zoom_out -
fit_to_page_width =
fit_to_page_width_smart 0
fit_to_page_height |
toggle_fullscreen tf

############ execute command #############
# put index char(like 'x') after 'r' to execute command predefined in prefs.config
# execute_predefined_command r
	# -- these command use qutebrowser to search visual selected word
	# ra : open selected url
	# rd : naver dictionary
	# rg : google search
	# rs : scholar google search
	# ry : youtube search
# open default browser to search visual blocked word
external_search s
_open_key_config <c-k>


############ rotate #############
rotate_clockwise <C-r>
rotate_counterclockwise <C-S-r>

############ mark/bookmark #############
# -- mark
set_mark m
goto_mark '

# -- bookmark
# bookmark with name in current file
add_bookmark b
# delete bookmark from current location
delete_bookmark db
# show bookmarks format : name [page]
goto_bookmark gb
# show bookmarks for all files which is registered
goto_bookmark_g gB

# -- highlight
# add background color with 'a-z'
add_highlight e
delete_highlight dh
goto_highlight gh
goto_highlight_g gH
# Toggles whether we highlight pdf links or not
toggle_highlight th

############ file #############
# open file using embedded file browser
open_document_embedded_from_current_path o
# show list of opened documents
open_prev_doc O
toggle_dark_mode td
toggle_presentation_mode tp
close_window q
quit <C-S-w>

############ editing #############

# visual select some word/sentence, and copy them
copy y

# visual select some word only using keyboard shortcut
# '/' after visual select, the word is filled first
keyboard_select v

# smart_jump/overview is operation to detect proper reference
# smart_jump = go to the page location which is referenced / if there are not, search in web
# overview = show part of the page location which is referenced using partial window (ESC to exit) / if there are not, do nothing
# if Fig. 8 / Table 16 format / equation (2.1) : it must have hyper link. not work on plain text
# [8] : paper reference, it works on plain text
# Figure 2.1 : figure reference, it works on plain text
smart_jump_under_cursor f
keyboard_smart_jump F
overview_under_cursor w
keyboard_overview W
# show previous overview
previous_preview <C-p>
# show next overview
next_preview <C-n>

enter_visual_mark_mode V
move_visual_mark_up j
move_visual_mark_down k


############ command #############
# :keys_user - open keymapping config file
# :prefs_user - open preference config file
