# CAUTION: don't let comment right after setting chunk. it doesn't work
# -- page color ---------------------------------------------------------------------------------------------
# (r g b, 0~1) background color for light mode
background_color 0 0 0
# 0~1 more white character in darkmode
dark_mode_contrast 1
# if 1, images color is preserved.
# but equations are not displayed properly
preserve_image_colors_in_dark_mode 0


# -- page ---------------------------------------------------------------------------------------------
# separation line between pages
page_separator_width 5
page_separator_color 0.9 0.9 0.9

# ui_font (not works?)
# ui_font FiraCode Nerd Font Mono
font_size 20




# -- scroll ---------------------------------------------------------------------------------------------
# if 1, scroll to over page vertically, else, limits to first/end page
# need to restart sioyek
scroll_past_document_ends 0
# if 1, scroll to over page horizontally
# need to restart sioyek
horizontal_scroll_past_page_ends 1
vertical_move_amount 1.0
horizontal_move_amount 1.0




# -- mouse -------------------------------------------------------------------------------------------------
# visual block color using mouse
text_highlight_color 0.1 0.3 0.7

# if 0, zoom only center using mouse
wheel_zoom_on_cursor 0

# dragging mouse will visualize entire word than characters
single_click_selects_words 1

# mouse click command with modifier keys
shift_click_command inverse_search_command
control_click_command overview_under_cursor
alt_click_command overview_under_cursor




# -- ruler, visual mark -----------------------------------------------------------------------------------------------
# highlight color using visual mark with transparency
visual_mark_color 0.0 0.0 0.0 0.2
# show only focused line when visual mark
# it doesn't work
# 'V' will turn on visual marks
# for 'slit' mode only
ruler_mode 1
# ruler style underline/box/slit(old style)
ruler_display_mode box
# ruler outline color
ruler_color 0 0 0
# (not work), always white
ruler_marker_color 0 0 0
# for 'slit' mode only
ruler_padding 1
ruler_x_padding 5





# -- search ----------------------------------------------------------------------------------------------------
search_highlight_color  1.0 0.0 1.0
link_highlight_color    0.0 0.0 1.0
unselected_search_highlight_color 0.71 0.6 0.13
# show highlights for unselected search words
should_highlight_unselected_search 1
# case-insensitive search
case_sensitive_search 0
# it isn't annoying to set non-incremental search because focus doesn't move
incremental_search 0
smartcase_search 1

# increase search speed with indexing and additional memory
# [indexing...] will be shown at startup
super_fast_search 1
# show closest bookmark in statusbar as [h:a~z]
show_closest_bookmark_in_statusbar 1


# -- synctex ----------------------------------------------------------------------------------------------------
# don't use ruler as highlight synctex forward search
synctex_highlight_color 1.00 0.00 0.00
# don't use ruler as highlight synctex forward search
use_ruler_to_highlight_synctex_line 0
# don't move screen if next forward search word is in this screen
dont_center_if_synctex_rect_is_visible 1
# don't focus if synctex visible
synctex_highlight_timeout 3




# -- highlight ----------------------------------------
# highlights the selected text (after visualized)
highlight_middle_click 1

# yellow
highlight_color_a	1.00 1.00 0.00
#Blue
highlight_color_b	0.00 0.00 1.00
#Green
highlight_color_g	0.00 1.00 0.00
#Magenta
highlight_color_q	1.00 0.00 1.00
#Red
highlight_color_r	1.00 0.00 0.00
#Purple
highlight_color_w	0.50 0.00 0.50
#Orange
highlight_color_e	1.00 0.40 0.00
#Red-Orange
highlight_color_t	1.00 0.40 0.40
#Grey
highlight_color_f	0.50 0.50 0.50



# -- toc ----------------------------------------------------------------------------------------------------
# collapsed all first when opening toc
collapsed_toc 0


# -- menus ----------------------------------------------------------------------------------------------------
# show long menu item in multiple lines
multiline_menus 0
# locate recent commands to first row
show_most_recent_commands_first 1


# -- bookmark ----------------------------------------------------------------------------------------------------
# bookmarks are sorted by location not creation time


# -- overview / portal ----------------------------------------------------------------------------------------------------
overview_size 0.9 0.6
# main view can be scrolled by mouse while overview
allow_main_view_scroll_while_in_overview 1

# show [portal] if there are portal
show_close_portal_in_statusbar 1

# helper_window setting is applied when main_window setting is set explicitly
# two monitor configuration
main_window_size  960 1080
main_window_move 0 0
helper_window_size 960 1080
helper_window_move  960 0
# single monitor configuration is
# single_main_window_size/move
# but it is reserved because I want to preserve the main window location
# -- you can get current window config using `:copy_window_size_config` command

# -- misc ----------------------------------------------------------------------------------------------------
# don't show tutorial page when no file
should_warn_about_user_key_override 0
# show checkerboard pattern for unrendered pages (reload pages)
should_draw_unrendered_pages 0
# don't show tutorial when there is no file to open
should_load_tutorial_when_no_other_file	0
# open new window always
should_launch_new_window 1

# // status_bar_font_size -1
keyboard_select_font_size 23




# -- commands ----------------------------------------------------------------------------------------------------
# commands when startup
startup_commands fit_to_page_width;toggle_synctex

# predefined command (BUG: execute_command cannot open ui for nvim/cmd/nvim-qt)
# 'cmd' is needed to use 'start' command
new_command _open_key_config 		cmd /c start nvim %HOME%\.config\Dotfiles\sioyek\development\keys_user.config
new_command _open_pref_config 		cmd /c start nvim %HOME%\.config\Dotfiles\sioyek\development\prefs_user.config
new_command _search_google 			vieb "%3"
new_command _search_naver_dict 		vieb https://dict.naver.com/dict.search?dicQuery=%s&query="%3"
new_command _search_scholar_google 	vieb https://scholar.google.com/scholar?q="%3"
new_command _search_youtube 		cmd /c start brave https://www.youtube.com/results?search_query="%3"



# -- latex
# %1 expands to filepath (c:\Users\USER\~)
# %2 expands to the line number.
#
# this preference is applied after restart, not immediately
#
# you must enclose with quotes if the string has white space
# first argument is command / rest of arguments is options. so you must add 'python' to execute *.py
# or you needs to make .cmd/.bat file to do more complicate operation.
#
# if you set inverse command by `--inverse-command` flag when you start sioyek,
#
# whole command string must by ".  The string which is enclosed by \" means that prevent unrecognized issue for white space
# the form is followed below
# sioyek --inverse-search "python \"c:\Users\USER~\kkk.py\" \"%1\" %2"
# sioyek --inverse-search "\"c:\Users\USER~\kkk.cmd\" \"%1\" %2"
inverse_search_command python "%HOME%\.config\nvim-data\lazy\texflow.nvim\rplugin\python3\InverseSearch.py" "%1" %2


# QnA
# visual scroll mode doesn't work
always_copy_selected_text 0




